.dates {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 33.33%;
  height: 100vh;
}
.dates h2 {
  margin: 0;
  text-transform: uppercase;
}
.date-container {
  display: flex;

  gap: 30px;
}
.numday-container {
  font-size: 100px;
  margin: 0;
}
.day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-size: 31px;
}

@media only screen and (max-width: 1100px) {
  .dates {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }
  .numday-container {
    font-size: 60px;
  }
  .day-container {
    font-size: 20px;
  }
}
